{# templates/admin/user/index.html.twig -- Members index (Admin) #}

{% extends 'admin/base.html.twig' %}

{% block title %} {{ controller_name|trans }} {% endblock %}

{% block body %}
    <h1 class="my-5">Liste des membres</h1>

    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in pagination.data|slice(0, pagination.data|length) %}
            <tr>
                <td>{{ user.name }}</td>
                <td >
                        {{user.roles|first|trans }}
                </td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="text-dark pr-2"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>
                    {% set textDelete, linkDelete, paramsDelete, modalId = "Êtes vous-sûre de supprimer <b>" ~ user.name ~ "</b>?<br> Vous perdrez toutes les informations.", "admin_user_delete", {'id': user.id}, user.id  %}
                    {{ include("/admin/partials/_delete.html.twig") }}
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal{{user.id}}">
                        <span><a class="text-danger"><i class="fas fa-trash"></i></a></span>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
         <tfoot>
            <tr>
                <td colspan="5" class="pt-4 pb-0">
                    {{ pagination.display() }}
                </td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
