{# templates/app/page/about.html.twig -- About page + members show (Front) #}

{% extends 'app/base.html.twig' %}

{% block title %} {{ controller_name|trans }} {% endblock %}

{% block body %}

<!-- About section-->
<section id="about" class="bg-light">
    <div class="container">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-10">
                <h2 class="fw-light fs-4 mb-5">L'association</h2>
                {% if app.user %}
                    {% set user = app.user %}
                    {% if "ROLE_WEBMASTER" in user.roles %}
                        {% set linkUpdate = "section_edit"  %}
                        <p class="text-end mt-2">
                            <button type="button" class="btn btn-primary float-xl-right position-absolute" style="box-shadow:none;" data-bs-toggle="modal" data-bs-target="#updateModal{{about.id}}">
                                <span><i class="fas fa-edit"></i></a></span>
                            </button>
                        </p>
                        {% include("app/partials/_editModal.html.twig") with {'modalId': about.id } %}
                    {% endif %}
                {% endif %}
                <div class="text-justify">
                    <img src="{{ asset('src/img/about-2.jpeg') }}" alt="Supporters image" width="300px" class="img-fluid float-end mx-4 mb-4 rounded" />
                    {{ about.contentFr|raw }}
                </div>
            </div>
        </div>
    </div>
</section>
<section id="notice" class="bg-white">
    <div class="container">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-10">
                <h2 class="fw-light fs-4 mb-5">Mentions légales</h2>
                {% if app.user %}
                    {% set user = app.user %}
                    {% if "ROLE_WEBMASTER" in user.roles %}
                        {% set linkUpdate = "section_edit"  %}
                        <p class="text-end mt-2">
                            <button type="button" class="btn btn-primary float-xl-right position-absolute" style="box-shadow:none;" data-bs-toggle="modal" data-bs-target="#updateModal{{notice.id}}">
                                <span><i class="fas fa-edit"></i></a></span>
                            </button>
                        </p>
                        {% include("app/partials/_editModal.html.twig") with {'modalId': notice.id } %}
                    {% endif %}
                {% endif %}
                <p>
                    {{ notice.contentFr|raw }}
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Team-->
<section class="bg-light" id="members">
    <div class="container">
        <div class="row gx-4 justify-content-center">
            <div class="col-xl-9 col-lg-10">
                <h2 class="fw-light fs-4 mb-5">Nos membres</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
            <div class="row p-5">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto border-0" src="{{ asset('src/img/avatar/man.png') }}" alt="..." />
                        <h4>Parveen Anand</h4>
                        <p class="text-muted">Lead Designer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto border-0" src="{{ asset('src/img/avatar/woman.png') }}" alt="..." />
                        <h4>Diana Petersen</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto border-0" src="{{ asset('src/img/avatar/man.png') }}" alt="..." />
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Developer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
