{# templates/app/page/index.html.twig -- Index of website (Front) #}

{% extends 'app/base.html.twig' %}

{% block title %} {{ controller_home|trans }} {% endblock %}

{% block background %}
    <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
        <source src="{{ asset('src/video/header.mp4') }}" type="video/mp4">
    </video>
{% endblock %}

{% block header %}
    <header class="bg-header text-white border-bottom border-warning border-5">
        <div class="container px-4 text-center">
        
            <div class="mx-auto pb-3 content-logo"><img src="{{ asset('src/img/logo.png') }}" class="img-fluid" alt="Logo PAREPOUR"></div>
            <p class="fw-bolder h1 w-75 px-5 mx-auto">ASBL</p>
            <p class="lead  mb-5">Ensemble dans le stade et dans les coups durs</p>
        </div>
    </header>
{% endblock %}

{% block body %}

<!-- Resume section -->
<section id="resume" class="bg-light">
    <div class="container px-lg-5">
        <div class="row gx-lg-4 justify-content-center">
            <div class="col-lg-10 col-12">
                {% if app.user %}
                    {% set user = app.user %}
                    {% if "ROLE_WEBMASTER" in user.roles %}
                        {% set linkUpdate = "section_edit"  %}
                        <p class="text-end mt-2">
                            <button type="button" class="btn btn-primary float-xl-right position-absolute" style="box-shadow:none;" data-bs-toggle="modal" data-bs-target="#updateModal{{resume.id}}">
                                <span><i class="fas fa-edit"></i></a></span>
                            </button>
                        </p>
                        {% include("app/partials/_editModal.html.twig") with {'modalId': resume.id } %}
                    {% endif %}
                {% endif %}
                <h2 class="fw-light fs-4 mb-4">Présentation</h2>
                <p><img src="{{ asset('src/img/presentation.jpeg') }}" alt="Supporters image" width="400px" class="img-fluid float-md-end  mx-md-4 mx-auto mb-4 rounded">{{ resume.contentFr|raw }}</p>
                
            </div>
        </div>
    </div>
</section>
<!-- Goals section-->
<section class="bg-white" id="services">
    <div class="container px-lg-5">
        <div class="row gx-4 justify-content-center">
            <div class="col-md-8">
                {% if app.user %}
                    {% set user = app.user %}
                    {% if "ROLE_WEBMASTER" in user.roles %}
                        <p class="text-end mt-2">
                            <button type="button" class="btn btn-primary float-xl-right position-absolute" style="box-shadow:none;" data-bs-toggle="modal" data-bs-target="#updateModal{{goals.id}}">
                                <span><i class="fas fa-edit"></i></a></span>
                            </button>
                        </p>
                        {% include("app/partials/_editModal.html.twig") with {'modalId': goals.id } %}
                    {% endif %}
                {% endif %}
                <h2 class="fw-light fs-4 mb-4">Objectifs</h2>
                <p>{{ goals.contentFr|raw }}</p>
            </div>
        </div>
    </div>
</section>

{{ include("app/partials/_donate.html.twig") }}

{% endblock %}
