{# templates/app/page/achievements.html.twig -- Achievements page (Front) #}

{% extends 'app/base.html.twig' %}

{% block title %} {{ controller_name|trans }} {% endblock %}

{% block body %}
    <section class="row justify-content-center bg-white">
        <div class="col-md-10 px-0">
            {% if app.user %}
                {% set user = app.user %}
                {% if "ROLE_WEBMASTER" in user.roles %}
                    <p class="float-end"><a href="{{ path('achievement_new') }}" class="btn btn-primary">Ajouter une réalisation</a></p>
                {% endif %}
            {% endif %}
            <h2>Nos réalisations</h2>
            <div class="accordion my-5" id="accordionPanelsStayOpenExample">
                {% for achievement in pagination.data %}
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <div class="container-fluid px-0">
                                    <div class="row">
                                        <div class="col-md-5 text-md-start">{{achievement.title}}</div>
                                        <div class="col-md-5 pt-md-0 text-md-start text-end pt-3 d-md-block d-none">{{ achievement.date|date('d-m-Y') }}</div>
                                        <div class="col-md-2 col-5 pt-md-0 pt-3 text-center d-md-block d-none"></div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body row">
                                <p class="col-6 text-start d-md-none d-inline-block">{{ achievement.date|date('d-m-Y') }}</p>
                                <p class="col-6 text-end d-md-none d-inline-block"></p>
                                <hr class="d-md-none">
                                <p class="px-3 pt-3">
                                    {{achievement.descriptionFr}}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {{ pagination.display() }}
        </div>
    </section>

{% endblock %}
